<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testdomain">
	<test name="Smoke Tests">
		<parameter name="env" value="qa" />
		<parameter name="browser" value="chrome" />
		<groups>
			<run>
				<include name="Smoke" />
			</run>
		</groups>
		<classes>
			<class name="testdomain.LoginTest" />
			<class name="testdomain.HomePageTest" />
		</classes>
	</test>
</suite>