<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="devdomain">
	<test name="Smoke Tests">
		<parameter name="env" value="qa" />
		<groups>
			<run>
				<include name="Smoke" />
			</run>
		</groups>
		<classes>
			<class name="devdomain.DevDomainTest" />
			<class name="devdomain.DevDomainTest2" />
		</classes>
	</test>
</suite>
