<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="devdomain">
	<groups>
		<run>
			<include name="Smoke"/>
		</run>
	</groups>
	<test name="Smoke Tests">
		<classes>
			<class name="devdomain.DevDomainTest"></class>
			<class name="devdomain.DevDomainTest2"></class>
		</classes>
	</test>
</suite>
